name: Build Windows EXE  
  
on:  
  push:  
    branches: [ master, main ]  
  pull_request:  
    branches: [ master, main ]  
  
jobs:  
  build:  
    runs-on: windows-latest  
      
    steps:  
    - uses: actions/checkout@v4  
      with:  
        submodules: recursive  
          
    - name: Setup MinGW  
      uses: msys2/setup-msys2@v2  
      with:  
        msystem: MINGW64  
        update: true  
        install: >-  
          mingw-w64-x86_64-gcc  
          mingw-w64-x86_64-make  
          git  
            
    - name: Build with MinGW  
      shell: msys2 {0}  
      run: |  
        make clean  
        make  
          
    - name: Upload Build  
      uses: actions/upload-artifact@v3  
      with:  
        name: masscan-mingw-x64  
        path: bin/masscan.exe
